/* Reset some default styles */
body, h1, p, button {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

#rules {
    background: white;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
}

#canvas {
    width: 800px;
    height: 500px;
    border: 1px solid black;
    background: #c0c0c0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h1 {
    color: #333;
}

p {
    margin-bottom: 10px;
    color: #555;
}

button {
    background-color: #af4c4c;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #000000;
}